{% extends "base.html" %}

{% block titulo %}
Adicionar Contato
{% endblock %}

{% block body %}

<div class="container mt-4">

    <h2>Novo Contato</h2>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">

            {{ form.nome.label }}

            {{ form.nome(class="form-control") }}

        </div>

        <div class="mb-3">

            {{ form.telefone.label }}

            {{ form.telefone(class="form-control") }}

        </div>

        <div class="mb-3">

            {{ form.parentesco.label }}

            {{ form.parentesco(class="form-control") }}

        </div>

        {{ form.botao_salvar(class="btn btn-success") }}

    </form>

</div>

{% endblock %}