{% extends "base.html" %}

{% block titulo %}
Contatos de Emergência
{% endblock %}


{% block estilos %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/contatos.css') }}"
>

{% endblock %}


{% block body %}

<div class="contatos-container">


    <!-- CABEÇALHO -->

    <div class="contatos-topo">

        <div class="icone-principal">

            <i class="fa-solid fa-address-book"></i>

        </div>

        <h1>
            Contatos de Emergência
        </h1>

        <p>
            Cadastre pessoas de confiança para receber ajuda
            quando você precisar.
        </p>

    </div>


    <!-- CARD PRINCIPAL -->

    <div class="contatos-card">


        <div class="lista-topo">

            <h2>
                Pessoas de confiança
            </h2>


            <a
                href="{{ url_for('contato.adicionar_contato') }}"
                class="btn-adicionar-contato"
            >

                <i class="fa-solid fa-plus"></i>

                Adicionar Contato

            </a>

        </div>


        {% if contatos %}


        <div class="contatos-tabela-wrapper">

            <table class="contatos-tabela">


                <thead>

                    <tr>

                        <th>
                            Nome
                        </th>

                        <th>
                            Telefone
                        </th>

                        <th>
                            Parentesco
                        </th>

                        <th>
                            Ações
                        </th>

                    </tr>

                </thead>


                <tbody>


                    {% for contato in contatos %}


                    <tr>


                        <td class="contato-nome">

                            {{ contato.nome }}

                        </td>


                        <td class="contato-telefone">

                            {{ contato.telefone }}

                        </td>


                        <td class="contato-parentesco">

                            {% if contato.parentesco %}

                                {{ contato.parentesco }}

                            {% else %}

                                Não informado

                            {% endif %}

                        </td>


                        <td>

                            <div class="acoes-contato">


                                <a
                                    href="{{ url_for(
                                        'contato.editar_contato',
                                        id=contato.id_contato
                                    ) }}"
                                    class="btn-editar-contato"
                                >

                                    <i class="fa-solid fa-pen"></i>

                                    Editar

                                </a>


                                <a
                                    href="{{ url_for(
                                        'contato.excluir',
                                        id=contato.id_contato
                                    ) }}"
                                    class="btn-excluir-contato"
                                >

                                    <i class="fa-solid fa-trash"></i>

                                    Excluir

                                </a>


                            </div>

                        </td>


                    </tr>


                    {% endfor %}


                </tbody>


            </table>

        </div>


        {% else %}


        <div class="sem-contatos">

            <div class="icone">

                <i class="fa-solid fa-user-group"></i>

            </div>

            <h3>
                Nenhum contato cadastrado
            </h3>

            <p>
                Adicione uma pessoa de confiança para
                facilitar o pedido de ajuda em uma emergência.
            </p>

        </div>


        {% endif %}


    </div>

</div>

{% endblock %}


{% block scripts %}
{% endblock %}