{% extends "base.html" %}

{% block titulo %}
Login | SOSMulher
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

<main class="login-container">

    <section class="login-card">

        <h2>SOS Mulheres</h2>

        <p class="login-subtitulo">
            Entre na sua conta para continuar.
        </p>

        <form method="POST">

            {{ form.hidden_tag() }}

            <div class="input-group">

                {{ form.email.label }}

                {{ form.email(
                    class="input",
                    placeholder="Digite seu e-mail",
                    autocomplete="email"
                ) }}

                {% for erro in form.email.errors %}
                    <small class="erro">{{ erro }}</small>
                {% endfor %}

            </div>

            <div class="input-group">

                {{ form.senha.label }}

                {{ form.senha(
                    class="input",
                    placeholder="Digite sua senha",
                    autocomplete="current-password"
                ) }}

                {% for erro in form.senha.errors %}
                    <small class="erro">{{ erro }}</small>
                {% endfor %}

            </div>

            {{ form.submit(class="btn") }}

        </form>

        <div class="extra">

            <p>
                Não possui uma conta?
                <a href="{{ url_for('auth.cadastro') }}">
                    Cadastre-se
                </a>
            </p>

            <p>
                <a href="#">
                    Esqueceu sua senha?
                </a>
            </p>

        </div>

    </section>

</main>

{% endblock %}