<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOSMulher</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>


  <header class="header">
    <div class="container header-content">

      <h1 class="logo">SOS<span>Mulher</span></h1>

      <nav class="nav">
        <a href="index.html">Início</a>
        <a href="/templates/apoio.html">Apoio</a>
        <a href="/templates/denuncia.html">Denúncia</a>
        <a href="/templates/login.html">Entrar</a>
        <a href="/templates/sos.html" class="btn-sos-nav">SOS</a>
      </nav>

    </div>
  </header>


  <section class="hero">
    <h2>Você não está <span>sozinha</span></h2>
    <p>Peça ajuda de forma rápida, discreta e segura.</p>
    <a href="sos.html" class="botao-ajuda">PEDIR AJUDA</a>
  </section>

  <section class="como-funciona">
    <h2>Como funciona</h2>

    <div class="cards">
      <div class="card">
        <img src="/img/icons/alerta.png" alt="">
        <h3>1. Clique no SOS</h3>
        <p>Com um toque você inicia o pedido de ajuda.</p>
      </div>

      <div class="card">
        <img src="/img/icons/pin.png" alt="">
        <h3>2. Envio automático</h3>
        <p>Seus dados e localização são enviados.</p>
      </div>

      <div class="card">
        <img src="/img/icons/agente-de-call-center.png" alt="">
        <h3>3. Ajuda a caminho</h3>
        <p>Autoridades ou contatos são acionados.</p>
      </div>
    </div>

    <section class="impacto-confianca">

      <div class="impacto-card">
        <h2>Silêncio também é violência.</h2>
        <p>Peça ajuda de forma segura, rápida e anônima.</p>
      </div>
    
      <div class="confianca-card">
    
        <div class="item">
          <img src="/img/icons/cadeado.png">
          <span>100% confidencial</span>
        </div>
    
        <div class="item">
          <img src="/img/icons/mulher-anonima.png">
          <span>Uso anônimo</span>
        </div>
    
        <div class="item">
          <img src="/img/icons/raio.png">
          <span>Resposta rápida</span>
        </div>
    
      </div>

      <div class="confianca-card">
          
        <div class="impacto-real-card">

          <h3>Impacto real</h3>
        
          <div class="numero">
            1.000+
          </div>
        
          <p>
            Pedidos de ajuda atendidos
          </p>
        
        </div>
      </div>
    
    </section>
    <!-- RECURSOS -->
    <section class="recursos">
      <h2>Recursos</h2>

      <div class="recursos-container">

        <div class="recurso">
          <img class="imgrec" src="/img/icons/anonimo.png" alt="anônimo">
          <h3>Modo anônimo</h3>
          <p>Use o sistema sem se identificar.</p>
          <button>Usar</button>
        </div>

        <div class="recurso">
          <img class="imgrec" src="/img/icons/perigo.png" alt="Denúncia">
          <h3>Denúncias</h3>
          <p>Registre situações de risco.</p>
          <button>Denunciar</button>
        </div>

        <div class="recurso">
          <img class="imgrec" src="/img/icons/coracao.png" alt="Apoio">
          <h3>Apoio</h3>
          <p>Informações e ajuda especializada.</p>
          <button> <a href="/templates/apoio.html">Ver</a></button>
        </div>

      </div>
    </section>



    <!-- FOOTER -->
    <footer>
      <p>© 2026 SOSMulher - Todos os direitos reservados</p>
    </footer>

</body>

</html>