<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>SOS</title>
  <link rel="stylesheet" href="/css/sos.css">
</head>

<body>

    <header class="header">
        <div class="container header-content">
    
          <h1 class="logo">SOS<span>Mulher</span></h1>
    
          <nav class="nav">
            <a href="index.html">Início</a>
            <a href="/templates/apoio.html">Apoio</a>
            <a href="/templates/denuncia.html">Denúncia</a>
            <a href="/templates/login.html">Login</a>
            <a href="/templates/sos.html" class="btn-sos-nav">SOS</a>
          </nav>
    
        </div>
      </header>
      <div class="sos-container">
        <div class="card">
      
          <h2>SOS Mulher</h2>
      
          <button id="btnSOS">SOS</button>
      
          <p class="info">
            Sua localização será enviada<br>
            Seus dados são protegidos
          </p>
      
          <div class="progresso">
            <div class="barra" id="barra"></div>
          </div>
      
          <div class="status" id="status">
            <p>Pressione o botão para pedir ajuda</p>
          </div>
      
          <button class="cancelar">Cancelar</button>
      
        </div>
      </div>

<script src="/js/sos.js"></script>

</body>
</html>