<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>SOS</title>
  <link rel="stylesheet" href="/css/sos.css">
</head>

<body>

<div class="card">

  <h2>SOS Mulher</h2>

  <button id="btnSOS">SOS</button>

  <p class="info">Sua localização será enviada<br>Seus dados são protegidos</p>

  <div class="progresso">
    <div class="barra" id="barra"></div>
  </div>

  <div class="status" id="status">
    <p>Pressione o botão para pedir ajuda</p>
  </div>

  <button class="cancelar">Cancelar</button>

</div>

<script src="/js/sos.js"></script>

</body>
</html>